<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qintao.mapper.MeetingMapper">
  <sql id="Base_Column_List">
    id, user_id, title, start_time, end_time, room_id, status, created_time
  </sql>

  <insert id="insert">
    INSERT INTO tb_meeting
    (user_id, title, start_time, end_time, room_id, created_time)
    VALUES
    (#{userId}, #{title}, #{startTime}, #{endTime}, #{roomId}, now())
  </insert>

  <select id="selectList" resultType="com.qintao.bean.Meeting">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tb_meeting
    <where>
      <if test="status != null">
        status = #{status}
      </if>
      <if test="userId != null and userId != ''">
        AND user_id = #{userId}
      </if>
      <if test="roomId != null and roomId != ''">
        AND room_id = #{roomId}
      </if>
      <if test="dateRangeStart != null and dateRangeEnd != null">
        AND start_time BETWEEN #{dateRangeStart} AND #{dateRangeEnd}
      </if>
    </where>
  </select>

  <select id="selectAll" resultType="com.qintao.bean.Meeting">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tb_meeting
    WHERE status = 1
  </select>
  
  <update id="update">
    UPDATE tb_meeting
    SET status = #{status}
    WHERE id = #{id}
  </update>
</mapper>